config-notification {
    disable-failed
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
// spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "swaybg -m fill -i ~/git/niri-dotfiles/walls/7d5ad.jpg"
spawn-at-startup "batsignal" "-w" "40" "-c" "30" "-d" "20" "-p"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &"
spawn-sh-at-startup "waybar"

output "eDP-1" {
    mode "1920x1080@60.002"
    variable-refresh-rate on-demand=true
    scale 1.25
    transform "normal"
    position x=0 y=0
}

input {
    focus-follows-mouse

    keyboard {
        repeat-delay 200
        repeat-rate 30
        xkb {
            layout "us"
        }
        numlock
    }

    mouse {
        scroll-factor 1
        accel-profile "flat"
    }

    touchpad {
        dwt
        tap
        natural-scroll
        accel-profile "flat"
    }
}

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "Breeze_Light"
    xcursor-size 25
    hide-when-typing
    hide-after-inactive-ms 5000
}

overview {
    backdrop-color "#1E1E2E"
    workspace-shadow {
        on
    }
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"

binds {
    MOD+RETURN hotkey-overlay-title="Open Terminal" { spawn "foot"; }
    MOD+D hotkey-overlay-title="App Launcher: Fuzzel" { spawn-sh "pgrep fuzzel || fuzzel"; }
    MOD+B hotkey-overlay-title="Open Browser: Librewolf" { spawn "firefox"; }
    MOD+SHIFT+Q hotkey-overlay-title="Open powermenu" { spawn "wlogout"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+1%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "1%-"; }

    MOD+Q { close-window; }

    MOD+H { focus-column-left; }
    MOD+J { focus-window-down; }
    MOD+K { focus-window-up; }
    MOD+L { focus-column-right; }

    MOD+N { focus-workspace-down; }
    MOD+P { focus-workspace-up; }
    MOD+LEFT  { focus-column-left; }
    MOD+RIGHT { focus-column-right; }

    MOD+SHIFT+LEFT  { move-column-left; }
    MOD+SHIFT+DOWN  { move-window-down; }
    MOD+SHIFT+UP    { move-window-up; }
    MOD+SHIFT+RIGHT { move-column-right; }

    MOD+SHIFT+H { move-column-left; }
    MOD+SHIFT+J { move-column-to-workspace-down; }
    MOD+SHIFT+K { move-column-to-workspace-up; }
    MOD+SHIFT+L { move-column-right; }

    MOD+SHIFT+HOME { move-column-to-first; }
    MOD+SHIFT+END  { move-column-to-last; }
    MOD+HOME { focus-column-first; }
    MOD+END  { focus-column-last; }

    MOD+CTRL+LEFT  { focus-monitor-left; }
    MOD+CTRL+RIGHT { focus-monitor-right; }
    MOD+CTRL+UP    { focus-monitor-up; }
    MOD+CTRL+DOWN  { focus-monitor-down; }
    MOD+CTRL+H { focus-monitor-left; }
    MOD+CTRL+L { focus-monitor-right; }
    MOD+CTRL+K { focus-monitor-up; }
    MOD+CTRL+J { focus-monitor-down; }

    MOD+SHIFT+CTRL+LEFT  { move-column-to-monitor-left; }
    MOD+SHIFT+CTRL+RIGHT { move-column-to-monitor-right; }
    MOD+SHIFT+CTRL+UP    { move-column-to-monitor-up; }
    MOD+SHIFT+CTRL+DOWN  { move-column-to-monitor-down; }
    MOD+SHIFT+CTRL+H { move-column-to-monitor-left; }
    MOD+SHIFT+CTRL+L { move-column-to-monitor-right; }
    MOD+SHIFT+CTRL+K { move-column-to-monitor-up; }
    MOD+SHIFT+CTRL+J { move-column-to-monitor-down; }

    MOD+ESCAPE hotkey-overlay-title="Open Overview" repeat=false { toggle-overview; }
    MOD+WHEELSCROLLDOWN cooldown-ms=100 { focus-workspace-down; }
    MOD+WHEELSCROLLUP   cooldown-ms=100 { focus-workspace-up; }
    MOD+SHIFT+WHEELSCROLLDOWN cooldown-ms=100 { move-column-to-workspace-down; }
    MOD+SHIFT+WHEELSCROLLUP   cooldown-ms=100 { move-column-to-workspace-up; }
    MOD+WHEELSCROLLRIGHT { focus-column-right; }
    MOD+WHEELSCROLLLEFT  { focus-column-left; }
    MOD+CTRL+WHEELSCROLLRIGHT { move-column-right; }
    MOD+CTRL+WHEELSCROLLLEFT  { move-column-left; }

    MOD+1 { focus-workspace 1; }
    MOD+2 { focus-workspace 2; }
    MOD+3 { focus-workspace 3; }
    MOD+4 { focus-workspace 4; }
    MOD+5 { focus-workspace 5; }
    MOD+6 { focus-workspace 6; }
    MOD+7 { focus-workspace 7; }
    MOD+8 { focus-workspace 8; }
    MOD+9 { focus-workspace 9; }

    MOD+SHIFT+1 { move-column-to-workspace 1; }
    MOD+SHIFT+2 { move-column-to-workspace 2; }
    MOD+SHIFT+3 { move-column-to-workspace 3; }
    MOD+SHIFT+4 { move-column-to-workspace 4; }
    MOD+SHIFT+5 { move-column-to-workspace 5; }
    MOD+SHIFT+6 { move-column-to-workspace 6; }
    MOD+SHIFT+7 { move-column-to-workspace 7; }
    MOD+SHIFT+8 { move-column-to-workspace 8; }
    MOD+SHIFT+9 { move-column-to-workspace 9; }

    MOD+TAB { focus-workspace-previous; }

    MOD+C        { center-column; }
    MOD+CTRL+C   { center-visible-columns; }
    MOD+BRACKETLEFT  { set-column-width "-10%"; }
    MOD+BRACKETRIGHT { set-column-width "+10%"; }
    MOD+SHIFT+BRACKETLEFT  { set-window-height "-10%"; }
    MOD+SHIFT+BRACKETRIGHT { set-window-height "+10%"; }
    MOD+CTRL+WHEELSCROLLDOWN { set-window-height "-5%"; }
    MOD+CTRL+WHEELSCROLLUP   { set-window-height "+5%"; }

    MOD+V        { toggle-window-floating; }
    Mod+Shift+V  { switch-focus-between-floating-and-tiling; }
    MOD+SHIFT+F  { fullscreen-window; }
    MOD+F        { maximize-column; }

    MOD+SHIFT+S { spawn-sh "~/.local/bin/screenshot.sh"; }
    PRINT       { screenshot; }
    SHIFT+PRINT { screenshot-screen write-to-disk=true; }
    MOD+CTRL+S  { screenshot-window write-to-disk=true; }

    Mod+Shift+E { quit; }
}

recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

layout {
    gaps 3
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    
    default-column-width { proportion 0.5; }

    focus-ring {
        on
        width 1.5
        active-gradient from="#938aa9" to="#363646" angle=45
        inactive-color "#2a2a37"
    }

    insert-hint {
        on
        color "#191724"
    }

    shadow {
        off
        color "#090618a0"
    }

    struts {
    }
}


animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-cubic"
    }
    window-close {
        duration-ms 120
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=1100 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.8 stiffness=1400 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 150
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    _JAVA_AWT_WM_NONREPARENTING "1"
    AWT_TOOLKIT "MToolkit"
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    GDK_BACKEND "wayland,x11"

    MOZ_ENABLE_WAYLAND "1"
    MOZ_DBUS_REMOTE "1"

    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"

    VDPAU_DRIVER "va_gl"
    LIBVA_DRIVER_NAME "iHD"
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="waybar"
    match at-startup=true
    match layer="top"

    opacity 1.0
    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
    }

    geometry-corner-radius 15

    popups {
        opacity 0.8
        geometry-corner-radius 10
        background-effect {
            blur true
            noise 0.02
            saturation 1.5
        }
    }
}

layer-rule {
    match namespace="^wofi$"
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    shadow {
        on
    }
    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 3
    }
}

window-rule {
    match app-id=r#"^firefox$"#
    open-maximized true
    open-on-workspace "3"
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title=r#".*(Open|Save|Select).*"#
    match title=r#".*File.*"#
    match app-id=r#"org\.gtk\.FileChooserDialog"#
    open-floating true
    default-column-width { proportion 0.0; }
    max-width 800
    max-height 1000
}

window-rule {
    match title=r#".*(Dialog|Properties|Preferences|Settings|Rename).*"#
    match app-id=r#"zenity"#
    open-floating true
}

window-rule {
    match app-id=r#"org\.kde\.polkit-kde-authentication-agent-1"#
    match title=r#".*Authentication.*"#
    open-floating true
}

window-rule {
    match app-id=r#"nm-connection-editor"#
    match app-id=r#"blueman-manager"#
    match app-id=r#"pavucontrol"#
    open-floating true
}

window-rule {
    match title=r#".*Sign in - Google Accounts — Firefox"#
    open-floating true
}

window-rule {
    match app-id="foot"
    draw-border-with-background false
    open-maximized true
}

debug {
    honor-xdg-activation-with-invalid-serial
}
