window {
    margin: 0px;
    background-color: #1f1f28;
    border: 1px solid #2a2a37;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    color: #dcd7ba;
}

#input {
    margin: 8px;
    border: 1px solid #363646;
    border-radius: 6px;
    color: #dcd7ba;
    background-color: #16161d;
    padding: 6px 10px;
}

#inner-box { margin: 4px; background-color: transparent; }
#outer-box { margin: 4px; background-color: transparent; }

#entry { padding: 6px 10px; border-radius: 4px; }
#entry:selected { background-color: #2d4f67; color: #dcd7ba; }
