@import "./colors.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 9.5px;
    font-weight: 700;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background-color: @color0;
    color: @foreground;
    border-bottom: 1px solid @color8;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
}

#custom-launcher,
#workspaces,
#window,
#clock,
#backlight,
#pulseaudio,
#custom-nightmode,
#custom-clipboard,
#custom-screenshot,
#battery,
#memory,
#network,
#bluetooth,
#custom-power,
#custom-controls-handle,
#tray {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 5px;
    margin: 0;
    color: @foreground;
}

#network,
#bluetooth,
#battery,
#memory,
#custom-power,
#custom-controls-handle,
#custom-screenshot,
#custom-clipboard,
#custom-nightmode {
    font-size: 11.5px;
}

#backlight,
#pulseaudio {
    font-size: 10.5px;
}

#custom-power:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#memory:hover,
#pulseaudio:hover,
#custom-launcher:hover,
#custom-screenshot:hover,
#custom-clipboard:hover,
#custom-nightmode:hover,
#backlight:hover,
#workspaces button:hover {
    background-color: @color8;
    color: @foreground;
}

#group-controls {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#group-controls * {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 3px;
}

#custom-launcher {
    color: @color4;
    font-size: 11px;
    padding: 0 6px 0 8px;
}

#workspaces {
    padding: 0 2px;
}

#workspaces button {
    color: @color7;
    padding: 0 5px;
    margin: 2px 1px;
    border-radius: 2px;
}

#workspaces button.active,
#workspaces button.focused {
    color: @color0;
    background-color: @color4;
    font-weight: 800;
}

#workspaces button.urgent {
    color: @color0;
    background-color: @color1;
}

#window {
    color: @color7;
    padding-left: 8px;
    border-left: 1px solid @color8;
    margin-left: 4px;
}

#clock {
    font-weight: 700;
    padding: 0 6px;
}

/* Battery State Color Highlights */
#battery.charging,
#battery.plugged {
    color: @color2;
}

#battery.critical {
    color: @color1;
}

#custom-power {
    color: @color1;
    padding: 0 8px 0 6px;
}

#custom-power:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#memory:hover,
#pulseaudio:hover,
#custom-launcher:hover,
#workspaces button:hover {
    background-color: @color8;
    color: @foreground;
}

tooltip {
    background: @color0;
    border: 1px solid @color8;
    border-radius: 2px;
}

tooltip label {
    color: @foreground;
    padding: 2px 5px;
    font-size: 9px;
}
